@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}

body{
	display: grid;
	place-items: center;
	min-height: 100vh;
    background-size:cover;
    background-image:url(b.png);
}
.main{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: right;
    flex-direction: column;
    box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}


.top_section{
  overflow: hidden;
  background-color:black;
}
.top_section h5{
	color: #fff;
	font-size: 2em;
	font-family: 'Charmonman', cursive;
}

.button{
    margin-top: 8%;
    font-size:3em; 
    text-align:center ;
    color: black;
}